body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 600px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
    text-align: center;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header img {
    width: 15vw;
    height: auto;
    border-radius: 10%;
}

.content p {
    text-align: justify;
    margin-top: 15px;
}

ul {
    margin-top: 15px;
    list-style-type: none;
}
