{% extends 'base.html.twig' %}

{% block title %} Welcome OP page
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/op.css') }}">
<div class="op-wrapper">
    <h1>Bun venit pe pagina personală a lui Ovidiu!</h1>
    
    <div class="content-wrapper">
        <div class="image">
            <img src="{{ asset('images/op.jpg') }}" alt="Imaginea mea">
        </div>
        <div class="text">
            <p>
                Salut! Numele meu este Ovidiu și aceasta este pagina mea personală. Aici poți afla mai multe despre mine.
            </p>
            <p>
                Îmi place să explorez noi tehnologii și să învăț mereu lucruri noi. Momentan, sunt pasionat de dezvoltarea web și Symfony.
            </p>
            <ul>
                <li>Programare Python</li>
                <li>Symfony</li>
                <li>Design web</li>
            </ul>
        </div>
    </div>

    <p>
        
    </p>
</div>
{% endblock %}