{% extends 'base.html.twig' %}

{% block title %}Editează Pagina{% endblock %}

{% block body %}
    <h1>Editează conținutul</h1>
    
    <form method="post">
        <label>Titlu:</label>
        <input type="text" name="title" value="{{ content.title ?? '' }}" required>
        <br>
        <label>Conținut:</label>
        <textarea name="content" required>{{ content.content ?? '' }}</textarea>
        <br>
        <button type="submit">Salvează</button>
    </form>

    <form action="{{ path('dragan_logout') }}" method="post">
        <button type="submit">Logout</button>
    </form>
{% endblock %}
