<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rut's Page</title>
    <link rel="stylesheet" href="{{ asset('css/lascus.css') }}">
</head>
<body>
    <div class="container">
        <div class="image-container">
            <img src="{{ asset('images/lascus.jpg') }}" alt="O imagine personală" class="personal-image">
        </div>
        <div class="text-content">
            <h1>Andrea Rut</h1>
            <p class="highlighted-text">Sunt Rut, fotograf pasionat de a capta momente speciale, a cunoaste persoane noi. 
            <P>Îmi place să explorez noi locuri și să găsesc ceea ce are frumos fiecare oras/ tara.</p>
            <p>Îmi place să citesc, sa calatoresc si sa petrec cat mai mult in aer liber. De asemenea imi plac Workshop-urile foto-video deoarece ma ajuta sa ma dezvolt si perfectionez.</p>
            <p>Pe langa partea creativa/ artistica imi place si dezvoltarea de aplicatii si jocuri. Chiar daca par doua domenii complet opuse, eu gasesc parti comune si placere in ambele.</p>
            <h3>Ce imi place:</h3>
            <ul>
                <li>Iubesc muzica - ma inspira si ma relaxeaza</li>
                <li>Socializarea - imi place sa cunosc oameni noi</li>
                <li>Arta si Natura</li>
            </ul>
            <h3>Cele mai frumoase locuri vizitate:</h3>
            <ul>
                <li>Italia - Positano, Florenta</li>
                <li>Spania - Tenerife</li>
                <li>Grecia - Templul lui Poseidon</li>
            </ul>
        </div>
    </div>
</body>
</html>