<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achimescu Andrei - Personal Page</title>
    <link rel="stylesheet" href="{{ asset('css/AchimescuStyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="profile-container">
        <h1 class="name">Achimescu Andrei</h1>
        <div class="profile-details">
            <div class="profile-image-container">
                <img src="{{ asset('images/AchimescuAndreiImage.jpg') }}" alt="Achimescu Andrei Image" class="profile-image">
            </div>
            <div class="profile-content">
                <p>Student masterand al Facultății de Informatică și Inginerie, din cadrul Universității "1 Decembrie 1918" din Alba Iulia, specializarea Programare Avansată și Baze de date. Pasionat de tehnologie, dezvoltare software și programare web. În momentul de față, lucrez pe partea de digitalizare & automatizare în domeniul automotive.</p>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, beatae placeat explicabo voluptatem quam cupiditate error velit repellat reprehenderit illo, dolorem veniam. Eum id et, rem alias eos delectus! Quo.
                Ex enim nulla aliquam architecto voluptates veniam praesentium est dolore possimus, beatae dolores natus fuga officia, a consequatur incidunt error pariatur illum, nam velit? Voluptatibus esse nisi repudiandae at quia?
                Labore quisquam quod, maxime sunt aliquam, ea, neque molestias quidem inventore expedita vel. Impedit illum odit totam, nihil sunt aperiam eligendi suscipit sequi modi, quasi beatae perspiciatis tenetur maxime quae!
                Sed consequatur, at ad et dolore libero molestiae iure voluptatum excepturi consequuntur, tempora odit.</p>
                
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil, voluptatem aspernatur! Labore similique est ut dolores dignissimos repellat et earum numquam illum quibusdam! Ipsa repudiandae ut accusantium, aliquam exercitationem quam.
                Illum, placeat impedit. Architecto vitae numquam quam quo nemo aspernatur voluptate inventore quaerat dolorem iste error voluptatum, aperiam accusamus ipsum provident est pariatur unde eveniet natus dolor quis a suscipit.
                Odit, unde perferendis fugit vero aliquam corporis eveniet vel iusto eligendi dicta dolorum aperiam culpa sapiente accusamus reprehenderit, cupiditate rem consequuntur nostrum. Tempore nobis qui unde facere voluptatem quidem at.
                Velit molestias repudiandae officia quidem quae repellendus, ullam maxime aliquid enim rem nesciunt hic amet! Ad odio consequatur non excepturi reprehenderit ex nobis repellat exercitationem? Error eius tempore totam minima.</p>

                <h3>O parte din hobby-urile mele sunt:</h3>
                <ul>
                    <li>Programarea web</li>
                    <li>Design web</li>
                    <li>Design grafic</li>
                    <li>Fotografia</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>