{% extends 'base.html.twig' %}

{% block title %}Pagina Personală{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/radunicoletadiana.css') }}">

    <div class="personal-container">
        <div class="image-name-container">
            <div class="image-container">
                <img src="{{ asset('images/RaduNicoletaDiana_PSE_Project.jpg') }}" alt="Imagine personală">
            </div>
            <div class="name-container">
                <h1>Radu Nicoleta Diana</h1>
            </div>
        </div>
        
        <div class="text-container">
            <h2>Despre Mine</h2>
            <p>Ma numesc Radu Nicoleta Diana și sunt studentă la masteratul "Programare Avansată și Baze de Date" din cadrul Facultății de Informatică și Inginerie, la Universitatea "1 Decembrie 1918" din Alba Iulia. Anterior, am absolvit programul de licență "Informatică Economică" de la FEEA, Timișoara.</p>
            <p>Lucrez de un an într-o multinațională, fiind responsabilă de digitalizare și coordonare de proiecte.</p>
            
            <h3>Ce am învățat la locul de muncă</h3>
		<ul>
    			<li>Power Automate</li>
   			<li>Power BI</li>
    			<li>Aprofundare coduri VBA</li>
    			<li>Tool intern de automatizări</li>
    			<li>ERP System</li>
    			<li>MES System</li>
		</ul>
        </div>
    </div>
{% endblock %}
