<!DOCTYPE html>

<html lang="ro">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patricia Pop - Personal Page</title>
    <link rel="stylesheet" href="{{ asset('css/poppatricia.css') }}">
</head>

<body>
    <div class="container">
        <div class="intro">        
            <div class="img-container">
                <img src="{{ asset('images/img_PopPatricia.jpeg') }}" alt="img_profil" class="personal-image">
            </div>
            <div class="space"></div>
            <div class="title">
                <h1>Patricia Pop</h1>
            </div>
        </div>
        <div class="text-content">
            <div class="general">
                <h3>Despre mine</h3>
                <p>Hei! Sunt Patricia. Sunt Software Engineer la Continental Automotive Systems Sibiu și locuiesc în Alba Iulia, unde și studiez la Universitatea ”1 Decembrie 1918” la Facultatea de Informatică și Inginerie, specializarea Programarea Avansată și Baze de Date.</p> 
                <P>Îmi place să lucrez cu copiii, de aceea fac și voluntariat, unde organizez diverse activități pentru copii cu vârstele cuprinse între 3 și 7 ani, iar peste vară tabere pentru copii.</p>
                <p>În puținul meu timp liber încerc să fac ceea ce îmi place foarte mult, și anume: să călătoresc, să citesc, să fac fotografii, să pictez și să creez invitații, tablouri, sigle, cărți de colorat și altele. </p>
            </div>
            <div class="hobby">
                <h3>3 hobby-uri</h3>
                <ul>
                    <li>Cititul - un roman bun, un ceai și un fotoliu confortabil</li>
                    <li>Design-ul grafic - în super aplicația Canva</li>
                    <li>Călătoriile - oriunde, oricând</li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
