<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Alexandrei</title>

    {# Include CSS corect #}
    <link rel="stylesheet" href="{{ asset('css/alexandra.css') }}">
</head>
<body>
    <div class="container">
        {# Include imagine corect #}
        <img src="{{ asset('images/alexandra.jpeg') }}" alt="imagine personala" class="personal-image">

        <div class="text-content">
            <h1>Alexandra Toader</h1>
             <p>Sunt studentă la Universitatea „1 Decembrie 1918” din Alba Iulia, programul de master PABD. Pasiunea mea pentru artă se reflectă în scrisul de poezii, unde explorez trăiri profunde și emoții autentice.</p>
    
    <p>Aceasta este una dintre poeziile mele:</p>
    
    <blockquote>
        <p><strong>Scânteie de iubește-mă pe veci</strong></p>
        <p>Epuizează-mi fiecare motiv de a corela cu universul<br>
        Și îți devin eternitate în infern.<br>
        Convinge-mă că sunt mai mult decât pământ și apă în transhumanță<br>
        Și o să-ți devin suflet tangențial cu ce numești tu viață.<br>
        Sudează-mi conceptul de orgoliu pentru nopțile îmbibate în morfină<br>
        Și-ți devin pașaport spre libertate cu tatuaj permanent pe retină.<br>
        Îți simt subconștientul cum tânjește după liniște și mă aprobă cu ardoare<br>
        Căci am ajuns să-ți fiu calmant în drumul tău spre dulcea eliberare,<br>
        Paradoxal, de mine.</p>
    </blockquote>

    <h3>O parte din pasiunile mele sunt:</h3>
    <ul>
        <li>Arta</li>
        <li>Scrisul de poezii</li>
        <li>Explorarea creativității</li>
        <li>Învățare continuă</li>
    </ul>
    </ul>
        </div>
    </div>
</body>
</html>