<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Toma Laurentiu</title>
    <link rel="stylesheet" href="{{ asset('css/TomaLaurentiu.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ asset('images/TomaLaurentiu.jpg') }}" alt="O poză personală" class="poza-mea">
        
         <h1>Bine ai venit pe pagina mea personală!</h1>

        <p>Numele meu este Toma Laurențiu, am 23 de ani și sunt masterand la Universitatea „1 Decembrie 1918” din Alba Iulia, specializarea Programare Avansată și Baze de Date (PABD).</p>

        <p>Îmi place să ascult muzică deoarece mă relaxează, să vizitez locuri noi și să călătoresc ori de câte ori am ocazia. De asemenea, îmi place să socializez și să cunosc persoane noi, deoarece cred că interacțiunea umană este cheia evoluției personale.</p>

        <p>O altă pasiune importantă pentru mine sunt mașinile, îmi place să aflu tot mai multe despre modele noi, să particip la evenimente auto și să conduc.</p>

        <h2>Lucruri care mă pasionează:</h2>
        <ul>
            <li>Muzica bună și atmosfera relaxantă</li>
            <li>Călătoriile și descoperirea de locuri noi</li>
            <li>Socializarea și cunoașterea de oameni noi</li>
            <li>Mașinile și lumea auto</li>
            <li>Tehnologia, programarea și bazele de date</li>
        </ul>
    </div>
</body>
</html>
