<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ name }}</title>
    <link rel="stylesheet" href="/css/dragomir.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <img src="images/dragomirImg.jpg" alt="{{ name }}" />
        <div class="text-content">
          <h1>{{ name }}</h1>
          <p>
            My professional life is a dynamic balance between rapid iteration
            and meticulous code refinement. However, I consistently deliver
            robust and user-centric solutions.
          </p>
          <p>
            I am passionate about creating impactful and engaging user
            experiences. I strive to build interfaces that not only meet
            technical requirements but also delight and empower users.
          </p>
          <div>
            <p>These core skills define my professional approach:</p>
            <ul>
              <li>
                Frontend Development: crafting intuitive user interfaces with
                React and associated technologies.
              </li>
              <li>
                Problem Solving: applying analytical methodologies to resolve
                intricate technical challenges.
              </li>
              <li>
                Collaborative Development: contributing to team efficiency
                through effective communication and code reviews.
              </li>
            </ul>
          </div>
          <p>
            I am a results-driven professional with a keen understanding of
            modern frontend development principles. I am committed to delivering
            impactful and precise solutions.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
